.form{
     width: 70%;
     margin: auto;
     display: flex;
     border: 1px solid lightgray;
     border-radius: 8px;
}

.form-input{
   
    padding-right: 1rem; 
    margin-left: 1%;
    text-align: right;
    width: 100%;
    font-weight: bold;
   // font-size: large;
   border: none;

}

.icon {
    color: white;
    //margin: 4px;
}
.form-icon-div{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: $paltel-blue;
    padding: .5% 5%;

}