//colors
$purple : #8331A7;
$green :#0f5132;
$red: #842029; 
$paltel-blue: #00A0D7;
$l-light-gray: #F5F5F5; 
$d-dark-gray : #696969;  
//spacings
$s-size: 1.2rem; 
$m-size : 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
